<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StoreDB" 
         connectionString="Server=158.160.26.5;Port=3306;Database=sh_db;User ID=csharp_app;Password=12345;SslMode=DISABLED;ConnectionTimeout=36000;DefaultCommandTimeout=36000;Pooling=false;Keepalive=30;Connection Lifetime=120;Maximum Pool Size=8;" 
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>