<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StoreDB" 
         connectionString="Server=sql7.freesqldatabase.com;Port=3306;Database=sql7824958;User ID=sql7824958;Password=nrvIlZnBIB;ConnectionTimeout=60;DefaultCommandTimeout=60;Pooling=false;" 
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>